body, html {
    height: 100%;
}

h1, h3, h4 {
    font-family: 'Viga', sans-serif;
}

p {
    float: left, right;
}

footer {
    padding-right: 10%;
    padding-left: 7%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #142B32;
    color: white;
}

.btn-space {
    margin:3px;
}

.bg {
    background-image: url('/static/images/noseroll.jpg');
    height: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portrait {
    border-radius: 15px;
    float: left;
    padding: 8px;
    width: 250px;
    transform: rotate(90deg);
}

.images {
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color:black;
    float: left, right;
    padding: 8px;
    height: 175px;
}

.content {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 60px;
    padding-bottom: 100px;
}