html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding-bottom: 15%;
}

h1 {
    font-family: 'Viga', sans-serif;
    font-size: 4vw;
}

h3, h4 {
    font-family: 'Viga', sans-serif;
}

p {
    float: left, right;
}

footer {
    flex-grow: 0;
    display: block;
    padding-right: 10%;
    padding-left: 7%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #142B32;
    color: white;
}

.btn-space {
    margin:3px;
    -webkit-transition: all 0.25s ease-in-out;
}

.btn:hover {
    -webkit-transform: scale(1.1);
}

.bg {
    background-image: url('/static/images/noseroll.jpg');
    height: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portrait {
    border-radius: 15px;
    float: left;
    padding: 8px;
    width: 250px;
    transform: rotate(90deg);
}

.images {
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color:black;
    float: left, right;
    padding: 8px;
    height: 175px;
}

.content {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 6%;
    padding-bottom: 15%;
}

.sit-low {
    padding-right: 10%;
    padding-left: 10%;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-top: auto;
}

.footer {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    width: 100%;
}

.box {
    display: inline-block;
    position: relative;
    width: 100%;
}

.dummy {
    margin-top: 57%;
}

.fullscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}