{% extends "layout.html" %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#about").addClass('active');
        });
    </script>
{% endblock %}

{% block title %} About {% endblock %}

{% block main %}
<div class="content container-fluid">
    <div class="row">
        <div class="card mb-3 border-primary">
            <div class="card-body">
                <h3 class="card-header">Thomas Wood</h3>
                <img class="portrait" src="/static/images/portrait.jpg" alt="Self Portrait">
                <h4 class="card-title">About Me:</h4>
                <p class="card-text">
                    Currently living in Burlington, VT with a flight already booked to Lancaster, 
                    England in September. I currently work as a bicycle mechanic and really enjoy the work,
                    but I am eager to move into the next chapter of my life. My background and interests
                    have often led me to areas requiring strong problem solving skills and design analysis. 
                    The field of software and web development is an extension of these skills and allows me to very quickly see
                    the results of my work. I like the research required and I love that there will always
                    be room to progress in a field this vast. I am very excited to dive into building software 
                    and I would love to put together a project with a larger impact on the community 
                    around me. 
                </p>

                <h4 class="card-title">Skills:</h4>
                <p class="card-text">
                    Effective and resourceful problem solver with the ability to clearly communicate.
                    Currently my focus has been on web development utilizing Flask and Django python web 
                    frameworks. Practiced with HTML/CSS, Javascript, and SQL.
                    Familiar with Linux and the command line interface, Git through Github and the 
                    commandline, Amazon Web Services such as the Elastic Beanstalk deployment and RDS. 
                    Experience working with operating systems such as Macintosh, Linux through Ubuntu, 
                    and Windows. 
                    Willing to learn any language or framework for the job at hand, and actively expanding my 
                    repertoire.
                </p>

                <h4 class="card-title">Hobbies:</h4>
                <p class="card-text">
                    As much as I enjoy web development, I aspire to keep a strong work-life balance. The outdoors 
                    and exercise are extremely important to me. While I'm always willing to try a new activity, 
                    my current obsession lies in cycling. With the majority of my hours spent on the mountain bike, 
                    I also ride road and adventure/cyclocross. 
                </p>
                <p class="card-text">
                    When I need downtime, I like to play computer games and read. I am eagerly awaiting the next book in 
                    Brandon Sanderson's <i>Storlight Archives</i>. 
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
