{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block main %}
    <h1>Portfolio: Thomas Wood</h1>

    <div>
        <a href="https://github.com/JustAnAccountForLearning">Github</a>
        <a href="https://www.linkedin.com/in/thomas-wood-1a339a18a/">Linkedin</a>
    </div>
    <div>
        <a href="http://snake-env.uctpsrks7z.us-east-2.elasticbeanstalk.com/">Snake Game</a>
        <a href="https://ywu10.w3.uvm.edu/">Twitter Map</a>
        <a href="">TODO: Add Ski intake form</a>
    </div>

    <p>TODO List:</p>
    <ul>
        <li>Add phots</li>
        <li>Create links</li>
        <li>About me:</li>
        <li>Projects:</li>
        <li>Skills</li>
    </ul>
{% endblock %}