{% extends "layout.html" %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#projects").addClass('active');
        });
    </script>
{% endblock %}

{% block title %} Projects {% endblock %}

{% block main %}

    <div class="content container-fluid">
        <div class="card mb-3 border-primary">
            <div class="card-body">
                <h3 class="card-header">Personal Projects:</h3> 
                <div class="card-body row">
                    <div class="col-md-4 col-sm-12">
                        <div class="card mb-3 text-white bg-secondary">
                            <h4 class="card-header"><a id="snake_game"></a>Snake Game</h4>
                            <div class="card-body">
                                <div>
                                    <img class="card-img-top" src="/static/images/snake01.png" alt="Game Image">
                                    
                                </div>
                                <p class="card-text">
                                    This was my first real personal project. The goal was to learn JavaScript and 
                                    create something fun to share with friends. This has also been my testing ground 
                                    for working with new challenges such as migrating from a local machine 
                                    app and database to an AWS hosted app through RDS and Elastic Beanstalk. 
                                </p>
                                   
                                <p class="card-text">
                                    It's simple, but it's fun.
                                </p>
                            </div>
                            <div class="card-footer">
                                <form>
                                    <button type="submit" class="btn btn-space btn-primary btn-sm" formaction="http://snake-env.uctpsrks7z.us-east-2.elasticbeanstalk.com/">View Website</button>
                                    <button type="submit" class="btn btn-space btn-primary btn-sm" formaction="https://github.com/JustAnAccountForLearning/snake-game">Github Repository</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="card mb-3 text-white bg-secondary">
                            <h4 class="card-header"><a id="twitter_map"></a>Twitter Map</h4>
                            <div class="card-body">
                                <div>
                                    <img class="card-img-top" src="/static/images/twitter_map.png" alt="Twitter Map">
                                </div>
                                <p class="card-text">
                                    This started as a final project for UVM's Software Engineering course. I worked with
                                    a team of three to develop a visualization for Tweets throughout the USA. Tweets are 
                                    sourced through a 1% hose and formatted using Bing’s geocoding API. Tags can be selected by 
                                    the user from a list created from the database tags. Tweets are then mapped using D3.js on a map 
                                    of the USA. Mousing over tweets shows the content of the tweet. A graph showing sentiment 
                                    analysis of the tweets is also displayed to the side showing the positive or negative bias.
                                </p>
                            </div>
                            <div class="card-footer">
                                <form>
                                    <button type="submit" class="btn btn-space btn-primary btn-sm" formaction="https://ywu10.w3.uvm.edu">View Website</button>
                                    <button type="submit" class="btn btn-space btn-primary btn-sm" formaction="https://github.com/JustAnAccountForLearning/twitter-map">Github Repository</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="card mb-3 text-white bg-secondary">
                            <h4 class="card-header"><a id="home_page"></a>Portfolio</h4>
                            <div class="card-body">
                                <div>
                                    <img class="card-img-top" src="/static/images/homepage.png" alt="Home Page Image">
                                    
                                </div>
                                <p class="card-text">
                                    This website.
                                </p>
                                <p class="card-text">
                                    I had the option of using a website builder, but I wanted another opportunity to work with the basics.
  				    I've developed this site from scratch and while it's still a work in progress, it's allowed
                                    me to work on my own styling entirely. It's still not optimized for mobile, but that will be comming. 
                                </p>
                            </div>
                            <div class="card-footer">
                                <form>
                                    <button type="submit" class="btn btn-space btn-primary btn-sm" formaction="http://woodworksdevelopment.com/">View Website</button>
                                    <button type="submit" class="btn btn-space btn-primary btn-sm" formaction="https://github.com/JustAnAccountForLearning/portfolio">Github Repository</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <div class="card mb-3 text-white bg-secondary">   
                            <h4 class="card-header"><a id="ski_intake_form"></a>Ski Intake Form</h4> 
                            <div class="card-body">
                                <div>
                                    <img class="card-img-top" src="#" alt="Form Image">
                                
                                    <p class="card-text">
                                        This was my second personal project. The goal was to create a simple web app to eliminate
                                        the need for paper tickets for each work ticket through the winter. I knew I was in over my 
                                        head for a professional project at the time, but I was able to learn a lot. I learned about 
                                        database storage and SQL as well as setting up a Flask web framework. 
                                    </p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <form>
                                    <button type="submit" class="btn btn-space btn-primary btn-sm" formaction="http://intake-form-env.ixc3mpzqtz.us-east-2.elasticbeanstalk.com/">View Website</button>
                                    <button type="submit" class="btn btn-space btn-primary btn-sm" formaction="https://github.com/JustAnAccountForLearning/ski-intake-form">Github Repository</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
