{% extends "layout.html" %}

{% block title %} Projects {% endblock %}

{% block main %}
    <div>
        <h4>TODO:</h4>
        <ul>
            <li>Allow dropdowns in the navbar that will scroll page down to correct project.</li>
            <li>Add descriptions of what the projects are.</li>
            <li>Add images.</li>
            <li>DONE - Provide links to git respositories too.</li>
        </ul>
    </div>
    <div>
        <h4>Snake Game</h4>
        <a href="http://snake-env.uctpsrks7z.us-east-2.elasticbeanstalk.com/">Website</a>
        <a href="https://github.com/JustAnAccountForLearning/snake-game">Github</a>
    </div>
    <div>
        <h4>Twitter Map</h4>
        <a href="http://twitter-map-env.vqmz3jvgef.us-east-1.elasticbeanstalk.com/">Website</a>
        <a href="https://github.com/JustAnAccountForLearning/twitter-map">Github</a>
    </div>
    <div>   
        <h4>Ski Intake Form</h4> 
        <a href="http://intake-form-env.ixc3mpzqtz.us-east-2.elasticbeanstalk.com/">Website</a>
        <a href="https://github.com/JustAnAccountForLearning/ski-intake-form">Github</a>
    </div>
{% endblock %}