{% extends "layout.html" %}

{% block title %} Projects {% endblock %}

{% block main %}
<div class="content">
    <div>
        <h4>TODO:</h4>
        <ul>
            <li>Allow dropdowns in the navbar that will scroll page down to correct project.</li>
            <li>Add descriptions of what the projects are.</li>
            <li>Add images.</li>
            <li>Add disclaimer about projects.</li>
            <li>DONE - Provide links to git respositories too.</li>
        </ul>
    </div>
    <div>
        <h4>Snake Game</h4>
        <a href="http://snake-env.uctpsrks7z.us-east-2.elasticbeanstalk.com/">Website</a>
        <a href="https://github.com/JustAnAccountForLearning/snake-game">Github</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Sed risus pretium quam vulputate dignissim suspendisse. Felis 
        eget nunc lobortis mattis aliquam faucibus purus in massa. Nec dui nunc mattis enim ut tellus. 
        Risus nec feugiat in fermentum posuere urna nec tincidunt. Sodales ut eu sem integer vitae. 
        Condimentum id venenatis a condimentum vitae sapien pellentesque habitant morbi. Lobortis 
        feugiat vivamus at augue eget arcu dictum varius duis. Eleifend quam adipiscing vitae proin 
        sagittis nisl rhoncus mattis rhoncus. Sagittis orci a scelerisque purus semper eget. Lorem 
        donec massa sapien faucibus et molestie ac. Porta non pulvinar neque laoreet suspendisse. 
        Aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Elit at imperdiet dui 
        accumsan sit amet nulla facilisi morbi.</p>
    </div>
    <div>
        <h4>Twitter Map</h4>
        <a href="http://twitter-map-env.vqmz3jvgef.us-east-1.elasticbeanstalk.com/">Website</a>
        <a href="https://github.com/JustAnAccountForLearning/twitter-map">Github</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Sed risus pretium quam vulputate dignissim suspendisse. Felis 
        eget nunc lobortis mattis aliquam faucibus purus in massa. Nec dui nunc mattis enim ut tellus. 
        Risus nec feugiat in fermentum posuere urna nec tincidunt. Sodales ut eu sem integer vitae. 
        Condimentum id venenatis a condimentum vitae sapien pellentesque habitant morbi. Lobortis 
        feugiat vivamus at augue eget arcu dictum varius duis. Eleifend quam adipiscing vitae proin 
        sagittis nisl rhoncus mattis rhoncus. Sagittis orci a scelerisque purus semper eget. Lorem 
        donec massa sapien faucibus et molestie ac. Porta non pulvinar neque laoreet suspendisse. 
        Aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Elit at imperdiet dui 
        accumsan sit amet nulla facilisi morbi.</p>
    </div>
    <div>   
        <h4>Ski Intake Form</h4> 
        <a href="http://intake-form-env.ixc3mpzqtz.us-east-2.elasticbeanstalk.com/">Website</a>
        <a href="https://github.com/JustAnAccountForLearning/ski-intake-form">Github</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Sed risus pretium quam vulputate dignissim suspendisse. Felis 
        eget nunc lobortis mattis aliquam faucibus purus in massa. Nec dui nunc mattis enim ut tellus. 
        Risus nec feugiat in fermentum posuere urna nec tincidunt. Sodales ut eu sem integer vitae. 
        Condimentum id venenatis a condimentum vitae sapien pellentesque habitant morbi. Lobortis 
        feugiat vivamus at augue eget arcu dictum varius duis. Eleifend quam adipiscing vitae proin 
        sagittis nisl rhoncus mattis rhoncus. Sagittis orci a scelerisque purus semper eget. Lorem 
        donec massa sapien faucibus et molestie ac. Porta non pulvinar neque laoreet suspendisse. 
        Aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Elit at imperdiet dui 
        accumsan sit amet nulla facilisi morbi.</p>
    </div>
</div>
{% endblock %}